@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;700&family=Roboto+Mono:wght@100;200;300&display=swap');

:root {
  --main-font: 'Raleway';
  --backup-font: 'Roboto Mono';
  --footer-opacity: .4;
}


.App {
  text-align: center;
  margin: 0 auto;
  font-family: var(--main-font);
  -webkit-user-select: none; /* */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

button,
.typebox {
  border: 0;
  border-radius: 10px;
}

button {
  padding: 1em;
  background-color: pink;
  color: black;
  font-family: var(--backup-font);
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
  margin: 1em;
  letter-spacing: 1px;
  width: 60vw;
  max-width: 600px;
}

#buttonDiv {
  display: flex;
  flex-direction: row;
}

button:hover {
  /* box-shadow: 0 .5em .5em 0 black; */
  cursor: pointer;
  transform: scale(1.1);
  transition: 1s ease;
}

.full_screen {
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
}

.nicki_bg {
  background-image: url('https://static.stereogum.com/uploads/2022/08/nicki-minaj-super-freaky-girl-1660236115.jpg');
  background-size: cover;
  background-position: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.typebox {
  background-color: pink;
  width: 80vw; 
  max-width: 800px;
  min-height: 120px;
  overflow: auto;
}

.typebox h1 {
  font-size: 1.5em;
}

.fadeAnimation {
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 500ms;
}

.flex_col {
  flex-direction: column;
}

#title {
  font-size: 3em;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
}

#footer {
  bottom: 0;
  position: fixed;
  background-color: pink;
  width: 100%;
  height: 50px;
  opacity: var(--footer-opacity);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
};



#desc {
  z-index: 100;
}

.bold {
  font-weight: 800;
}

#footer:hover {
  animation: footerFade 500ms linear forwards;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  #title {
    font-size: 4em;
  }
  .typebox h1 {
    font-size: 2em;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}


@keyframes fadeInFooter {
  from {
    opacity: 0;
  } to {
    opacity: var(--footer-opacity);
  }
}

@keyframes footerFade {
  from {
    opacity: var(--footer-opacity)
  } to {
    opacity: 1;
  }
}